.favourite {
    padding: 10px 30px 20px;
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        margin-right: 15px;
    }
}
